<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>OWASPInjectAndXSSFilter</filter-name>
        <filter-class>com.scc.edas.filter.OWASPInjectAndXSSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OWASPInjectAndXSSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>EdasServlet</servlet-name>
        <servlet-class>edms.servlet.EdasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>edms.upload.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FieldExportXmlServlet</servlet-name>
        <servlet-class>edas.exportimport.FieldExportXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FieldImportXmlServlet</servlet-name>
        <servlet-class>edas.exportimport.FieldImportXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MastDocExportXmlServlet</servlet-name>
        <servlet-class>edas.exportimport.MastDocExportXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Export2ExcelServlet</servlet-name>
        <servlet-class>com.scc.exportExcel.servlet.Export2ExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEditDocumentServlet</servlet-name>
        <servlet-class>edms.servlet.AddEditDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>edms.download.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EdasSecurityPath</servlet-name>
        <servlet-class>com.scc.security.EdasSecurityPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitialConfig</servlet-name>
        <servlet-class>com.scc.edms.conf.InitialConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>edms.servlet.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLevelServlet</servlet-name>
        <servlet-class>edms.servlet.ListLevelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaqServlet</servlet-name>
        <servlet-class>edms.servlet.FaqServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EdasServlet</servlet-name>
        <url-pattern>/edasservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/uploadfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FieldImportXmlServlet</servlet-name>
        <url-pattern>/FieldImportXmlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FieldExportXmlServlet</servlet-name>
        <url-pattern>/FieldExportXmlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MastDocExportXmlServlet</servlet-name>
        <url-pattern>/MastDocExportXmlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Export2ExcelServlet</servlet-name>
        <url-pattern>/Export2ExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEditDocumentServlet</servlet-name>
        <url-pattern>/addeditservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EdasSecurityPath</servlet-name>
        <url-pattern>/css/</url-pattern>
        <url-pattern>/doc/</url-pattern>
        <url-pattern>/doc/admin/</url-pattern>
        <url-pattern>/doc/user/</url-pattern>
        <url-pattern>/image/</url-pattern>
        <url-pattern>/images/</url-pattern>
        <url-pattern>/images/favicon/</url-pattern>
        <url-pattern>/images/import/</url-pattern>
        <url-pattern>/inc/</url-pattern>
        <url-pattern>/js/</url-pattern>
        <url-pattern>/process/</url-pattern>
        <url-pattern>/script/</url-pattern>
        <url-pattern>/software/</url-pattern>
        <url-pattern>/software/adobe/</url-pattern>
        <url-pattern>/software/autocad/</url-pattern>
        <url-pattern>/software/client/</url-pattern>
        <url-pattern>/software/jre/</url-pattern>
        <url-pattern>/watermark/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitialConfig</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLevelServlet</servlet-name>
        <url-pattern>/listlevelservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaqServlet</servlet-name>
        <url-pattern>/faq</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>init</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
